/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Chat container */
#chat {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Join form */
#join-form {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
}

#join-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#join-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #25d366; /* WhatsApp green */
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#join-form button:hover {
    background-color: #1db95e;
}

/* Chat room */
#chat-room {
    padding: 10px;
}

/* Chat messages */
#messages {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
}

#messages li {
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    max-width: 80%;
}

.message-sender {
    background-color: #e1ffc7; /* Light green for sender */
    align-self: flex-end;
}

.message-receiver {
    background-color: #f0f0f0; /* Light grey for receiver */
    align-self: flex-start;
}

/* Timestamp styling */
.message-timestamp {
    display: block;
    font-size: 10px; /* Small font size */
    color: #999; /* Light grey color */
    text-align: right; /* Align timestamp to the right */
    margin-top: 4px; /* Margin top to separate from the message */
}

/* Chat input form */
#form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}

#input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#form button {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #25d366; /* WhatsApp green */
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#form button:hover {
    background-color: #1db95e;
}


#ogin-username{
    
}